/** 
 * @author one-icon
 * @description  iconfont文件，该文件由npm run icon自动生成，不可手动修改。
 */

 @font-face {
  /** 这里可以再iconfont中手动配置，如果一个项目中引入了多个iconfont项目，务必给每个项目设置不同的font-family */
  font-family: '<%=familyName%>';
  src: url('<%=eot%>');
  src: url('<%=eot%>?#iefix') format('embedded-opentype'),
    url('<%=woff%>') format('woff'),
    url('<%=ttf%>') format('truetype'),
    url('<%=svg%>#<%=familyName%>') format('svg');
}

.<%=familyName%>
{
  font-family: '<%=familyName%>' !important;
  font-size: 13px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    font-family: '<%=familyName%>' !important;
  }
}

/** svg icon用于支持iconfont的svg版本 */
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
 
<% _.forEach(icons, function(icon) {%> 
.icon-<%=icon.fontName%>::before, .<%=familyName%>.icon-<%=icon.fontName%>::before {
  content: '\<%=icon.code%>';
}
<%});%> 